body {
    background-color: rgb(43, 44, 44);
}

.text {
    color: white;
    text-align: center;
    font-family: Arial, Verdana, 'Times New Roman';
}

p.text { 
    font-size: 28px;
}

img.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}